---
title: Jim Kendall
---

.memorial
    .name
        Jim Kendall
    .date
        April 12, 1967 – January 14, 2015
    .video
        %iframe{:allowfullscreen => "", :frameborder => "0", :src => "http://www.youtube.com/embed/SnwlW1jkbx0"}
